
li{
    align-items: center;
    text-align: center;
    flex-basis: 19%;
    font-size: none;
    
}

header{display: flex;
       flex-wrap: wrap;
       
}
.baniére{
    width: 40%;
    padding-right: 30%;
    padding-left: 30%;
    height: 20%;
}
ul {
	margin: 0;
	padding: 0;
}
.mega-menu-main {
	display: flex;
	position: relative;
}
.mega-menu a {
	display: block;
	color: white;
	text-decoration: none;
}


#wrap {
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: #444444;
  }
.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  .navbar li {
    height: auto;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #444444;
  }
  .navbar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
  }
  .navbar li:hover,
a:hover {
  background-color: #444444;
}
.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
  }
  .navbar li ul li {
    background-color: #444444;
  }
  .navbar li ul li a:hover {
    background-color: #a3a1a1;
  }


main{
    display: flex;
    flex-wrap: nowrap;
}
.persos1{
  display: flex;
  flex-wrap: nowrap;
  border: solid #333333;
}
.persos2{
  display: flex;
  flex-wrap: nowrap;
  border: solid #333333;
}
.persos3{
  display: flex;
  flex-wrap: nowrap;
  border: solid #333333;
}
.persos4{
  display: flex;
  flex-wrap: nowrap;
  border: solid #333333;
}
main{
  background-image:url(img/505616.png)
}
h2{
  color: #FFFFFF;
background: #333333;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.actuelle{
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
p{
  color: #FFF;
}
h1{
  color: #e0dfdc;
background: #556677;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}
.principale{
  display: flex;
  flex-wrap: nowrap;
}
.résumer{
  display: flex;
  flex-wrap: wrap;
}